In [26]:
import pandas as pd
import sqlite3

In [27]:
df = pd.read_excel("openaq_data_eu_l.xlsx")

In [28]:
df.head()

,city,parameter,value,unit,country,latitude,longitude,quality_label
0,Reykjavik Husdyragardurinn,o3,35.961900,µg/m³,Iceland,64.138861,-21.873411,Good
1,VOLOS-1,pm25,2.000000,µg/m³,Greece,39.366711,22.942922,Good
2,VOLOS-1,pm10,18.000000,µg/m³,Greece,39.366711,22.942922,Good
3,Utrecht NLH,pm10,27.625000,µg/m³,Netherlands,52.094751,5.134536,Good
4,Bangeløkka,pm25,7.079386,µg/m³,Norway,59.733270,10.211670,Good

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   city           2051 non-null   object
 1   parameter      2051 non-null   object
 2   value          2051 non-null   float64
 3   unit           2051 non-null   object
 4   country        2051 non-null   object
 5   latitude       2051 non-null   float64
 6   longitude      2051 non-null   float64
 7   quality_label  2051 non-null   object
dtypes: float64(3), object(5)
memory usage: 128.3+ KB

In [30]:
conn = sqlite3.connect('air_quality.db')

In [31]:
df.to_sql('air_quality', conn, index=False, if_exists='replace')

2051

In [32]:
query1 = "SELECT * FROM air_quality WHERE country = 'Greece'"
pd.read_sql_query(query1, conn)

,city,parameter,value,unit,country,latitude,longitude,quality_label
0,VOLOS-1,pm25,2.0,µg/m³,Greece,39.366711,22.942922,Good
1,VOLOS-1,pm10,18.0,µg/m³,Greece,39.366711,22.942922,Good
2,AGIA SOFIA,so2,6.0,µg/m³,Greece,40.633724,22.945099,Good
3,AGIA SOFIA,pm25,8.0,µg/m³,Greece,40.633724,22.945099,Good
4,AGIA SOFIA,no2,60.0,µg/m³,Greece,40.633724,22.945099,Moderate
5,AGIA SOFIA,o3,33.0,µg/m³,Greece,40.633724,22.945099,Good
6,AGIA SOFIA,pm10,24.0,µg/m³,Greece,40.633724,22.945099,Good
7,KALAMARIA,no2,16.0,µg/m³,Greece,40.578739,22.958644,Good
8,KALAMARIA,o3,85.0,µg/m³,Greece,40.578739,22.958644,Moderate
9,KALAMARIA,pm10,6.0,µg/m³,Greece,40.578739,22.958644,Good
10,LYKOVRISI,pm10,27.0,µg/m³,Greece,38.067793,23.788986,Good
11,LYKOVRISI,o3,83.0,µg/m³,Greece,38.067793,23.788986,Moderate
12,LYKOVRISI,pm25,4.0,µg/m³,Greece,38.067793,23.788986,Good
13,PIREAUS-1,so2,7.0,µg/m³,Greece,37.944656,23.645230,Good
14,PATRA-2,no2,41.0,µg/m³,Greece,38.246469,21.734512,Moderate
15,PATRA-2,pm10,21.0,µg/m³,Greece,38.246469,21.734512,Good
16,VOTANIKOS,no2,2.0,µg/m³,Greece,37.984100,23.705153,Good
17,VOTANIKOS,o3,74.0,µg/m³,Greece,37.984100,23.705153,Moderate
18,PIREAUS-1,no2,94.0,µg/m³,Greece,37.944656,23.645230,Unhealthy
19,PIREAUS-1,pm10,42.0,µg/m³,Greece,37.944656,23.645230,Good
20,PIREAUS-1,pm25,7.0,µg/m³,Greece,37.944656,23.645230,Good
21,PATRA-2,pm25,4.0,µg/m³,Greece,38.246469,21.734512,Good
22,PATRA-2,so2,5.0,µg/m³,Greece,38.246469,21.734512,Good
23,PIREAUS-1,o3,23.0,µg/m³,Greece,37.944656,23.645230,Good
24,PATRA-1,no2,19.0,µg/m³,Greece,38.253109,21.738179,Good
25,PATRA-1,pm10,22.0,µg/m³,Greece,38.253109,21.738179,Good
26,PIREAUS-1,no2,94.0,µg/m³,Greece,37.944656,23.645230,Unhealthy
27,PATISION,o3,1.0,µg/m³,Greece,37.999587,23.733053,Good
28,SINDOS,pm10,13.0,µg/m³,Greece,40.657842,22.802169,Good
29,PIREAUS-1,pm25,7.0,µg/m³,Greece,37.944656,23.645230,Good
30,SINDOS,no2,17.0,µg/m³,Greece,40.657842,22.802169,Good
31,PIREAUS-1,pm10,42.0,µg/m³,Greece,37.944656,23.645230,Good
32,PIREAUS-1,o3,23.0,µg/m³,Greece,37.944656,23.645230,Good
33,SINDOS,o3,53.0,µg/m³,Greece,40.657842,22.802169,Moderate
34,PATISION,so2,5.0,µg/m³,Greece,37.999587,23.733053,Good
35,NEOCHOROUDA,o3,72.0,µg/m³,Greece,40.739805,22.876060,Moderate
36,SINDOS,so2,5.0,µg/m³,Greece,40.657842,22.802169,Good
37,NEOCHOROUDA,no2,3.0,µg/m³,Greece,40.739805,22.876060,Good
38,PATISION,no2,98.0,µg/m³,Greece,37.999587,23.733053,Unhealthy
39,NEOCHOROUDA,pm10,10.0,µg/m³,Greece,40.739805,22.876060,Good
40,PIREAUS-1,so2,7.0,µg/m³,Greece,37.944656,23.645230,Good

In [33]:
query2 = "SELECT * FROM air_quality WHERE country = 'Spain' and quality_label = 'Unhealthy'"
pd.read_sql_query(query2, conn)

,city,parameter,value,unit,country,latitude,longitude,quality_label
0,BÉDAR,o3,113.00,µg/m³,Spain,37.192993,-1.979079,Unhealthy
1,ZARRA,o3,110.98,µg/m³,Spain,39.082780,-1.100833,Unhealthy
2,ELS TORMS,o3,102.90,µg/m³,Spain,41.393333,0.734167,Unhealthy

In [34]:
query3= "SELECT country, COUNT(*) AS num_records FROM air_quality GROUP BY country"
pd.read_sql_query(query3, conn)

            country  num_records
0           Austria            9
1           Belgium            5
2          Bulgaria           18
3    Czech Republic           12
4           Denmark            6
5           Estonia            4
6           Finland           37
7            France           26
8           Germany          227
9            Greece           41
10          Hungary           21
11          Iceland            8
12          Ireland           31
13            Italy          355
14           Kosovo           19
15           Latvia           19
16       Luxembourg            5
17          Moldova            1
18      Netherlands           13
19  North Macedonia           31
20           Norway           14
21           Poland           35
22         Portugal           11
23          Romania          264
24           Russia            5
25           Serbia           40
26         Slovakia          127
27         Slovenia           53
28            Spain          471
29           Sweden          141
30          Ukraine            2

In [35]:
query4 = "SELECT quality_label, COUNT(*) AS count FROM air_quality GROUP BY quality_label"
pd.read_sql_query(query4, conn)

  quality_label  count
0          Good   1700
1      Moderate    310
2     Unhealthy     41

In [36]:
query5 = "SELECT parameter, quality_label, COUNT(*) AS sample_count FROM air_quality GROUP BY parameter, quality_label"
pd.read_sql_query(query5, conn)

   parameter quality_label  sample_count
0         co     Unhealthy            13
1         no          Good             1
2        no2          Good           516
3        no2      Moderate            19
4        no2     Unhealthy             5
5         o3          Good            71
6         o3      Moderate           256
7         o3     Unhealthy            18
8       pm10          Good           512
9       pm10      Moderate             5
10      pm25          Good           317
11      pm25      Moderate            29
12      pm25     Unhealthy             5
13       so2          Good           283
14       so2      Moderate             1